<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>acgapc</name>
    <displayName><![CDATA[Auto Customer Group Assign based on Postal Code]]></displayName>
    <version><![CDATA[1]]></version>
    <description><![CDATA[New customers will be automatically assigned to a customer group based on a set of given postal codes]]></description>
    <author><![CDATA[ICE Soft]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>